@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --blue-900: #002183;
  --blue-800: #0036a1;
  --blue-700: #004dbf;
  --blue-600: #0067df;
  --blue-500: #0082ff;
  --blue-400: #0082ff;
  --blue-300: #00b6ff;
  --blue-200: #00dcef;
  --blue-100: #6ffacb;
  --gray-900: #222222;
  --gray-800: #2d2d2d;
  --gray-700: #333333;
  --gray-600: #3d3d3d;
  --gray-500: #444444;
  --gray-400: #4d4d4d;
  --gray-300: #555555;
  --gray-200: #5d5d5d;
  --gray-100: #666666;

}

html {

  scrollbar-color: var(--gray-700) var(--gray-900);
  scrollbar-width: thin;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, var(--blue-700) 0%, var(--blue-300) 100%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

p {

  a {

    color: var(--blue-500);
    transition: all 0.4s 0s ease-in-out;
  }
}

a:hover {

  color: var(--blue-800);
  text-decoration: underline;

}

* {
  box-sizing: border-box;
}

.link {

  color: var(--gray-600);

}

.link:hover {

  color: var(--gray-900);

}

.gr-900 {

  color: var(--gray-900);

}

.gr-800 {

  color: var(--gray-800);

}

.gr-700 {

  color: var(--gray-700);

}

.gr-600 {

  color: var(--gray-600);

}

.gr-500 {

  color: var(--gray-500);

}

.gr-400 {

  color: var(--gray-400);

}

.gr-300 {

  color: var(--gray-300);

}

.gr-200 {

  color: var(--gray-200);

}

.gr-100 {

  color: var(--gray-100);

}

.button-blue-600 {

  background-color: var(--blue-600);

}

.bgr-gray-100 {

  background-color: var(--gray-100);

}

.bgbl-400 {

  background-color: var(--blue-400);

}

 /* width */
 ::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-900);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-700);
  border-radius: 1em;
  width: .3;
  transition: all 100ms ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-500);
}